Complete_Python_Bootcamp/Complete-Python-3-Bootcamp/
Python_A_Z_For_Data_science/exercises/
Complete_Data_Science_Bootcamp/Resources/
Complete_Data_Science_Bootcamp/db/
Complete_Data_Science_Bootcamp/Backpropagation-a-peek-into-the-Mathematics-of-Optimization.pdf
R
Command_lines.txt
Complete_Python_Bootcamp.code-workspace
*.npz