Complete_Python_Bootcamp/Complete-Python-3-Bootcamp/
Python_A_Z_For_Data_science/exercises/
Complete_Data_Science_Bootcamp/Resources/
Complete_Data_Science_Bootcamp/db/
Complete_Data_Science_Bootcamp/Backpropagation-a-peek-into-the-Mathematics-of-Optimization.pdf
Data_Analysis_with_Pandas_and_Python/Resources/
Data_Analysis_with_Pandas_and_Python/db/
Complete_Machine_Learning_Course/db/
Probability and Statistics/Exercises
R
SQL/*.pdf
Command_lines.txt
Complete_Python_Bootcamp.code-workspace
*.npz